.about{
    background-color: #041C32;
    color: white;
    text-align: center;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    padding-bottom: 100px;
}



.page{
    background-color: white;
    color: #041C32;
    z-index: 1;
    box-shadow: 0 0 20px -2px rgb(255, 255, 255);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    transition: all 100ms ease-in-out;
}


.about-title{
    padding: 50px 50px 20px;
    font-size: 4rem;
    margin-left: 40px;
}

hr {
    margin: 0px 50px 0px;
    color: black;
    height: 3px;
    opacity: 0.9;
}

.info-title{
    padding-top: 30px;
    font-size: 2.5rem;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    margin: 40px;
}

.info-data{
    text-align: left;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    margin: 40px;
    font-size: 1.5rem;
    text-decoration: none;

}