.title{
    background-color: #041C32;
    color: white;
    text-align: center;
    padding-top: 270px;
    padding-bottom: 300px;
    z-index: -1;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-size: 6rem;
}

.main-heading {
    font-size: 6rem;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
}
