.experience{
    background-color: #D4ECDD;
    padding: 70px;
    padding-bottom: 5px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.exps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto;
    max-width: 90%;
  }

.experience > h1{
    font-size: 4.5rem;
    color: hsl(209, 87%, 18%);
}

.exps .exp{
  text-align: center;
  max-width: 90%;
  margin-bottom: 3rem;
  padding: 2rem;
  border-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
}

.exps .exp:hover {
    box-shadow: 0 0 55px -2px rgba(0,0,0,.2);
  }

.exps .exp:hover .img{
    transform: scale(1.2);
}
.exp-logo{
    text-align: center;
    display: block;
    font-size: 4rem;
}
.exp-logo:hover{
    transform: scale(1.2);
}

.exp-title{
    font-size: 2.5rem;
    padding: 10px 0px 20px;
    color: #033360;
    text-decoration: none;
    font-family: 'Gulzar', serif;
}

.exp-description{
    font-size: 1.4rem;
    padding-top: 20px;
    color: #033360;
}

.img{
    width: 300px;
    display: block;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 30px;
}

a{
    text-decoration: none;
}
